.App {
  text-align: center;
  position: relative;
  background-color: #fafafa;
}
.App * {
  margin: 0;
  padding: 0;
}
.night-mode div{
  background-color: #000 !important;
  color: #fff !important;
}