.my-progress {
  background-color: #eeeeee;
  width: 100%;
  height: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: none;
}
.my-progress div {
  transition: all ease-in-out 0.3s;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  min-width: 2.5rem !important;
}
